* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container {
    padding: 2vh;
}

#display, #quizz {
    width: 80%;
    margin: auto;
}

#quizz, #gameBoard {
    border: black 1px solid;
    background-color: cadetblue;

    text-align: center;

}

#quizz {
    font-size: 2vw;
}

#gameBoard {
    margin: 1vh auto;
    font-size: 1.5vw;
}

#questNbr, #quest, .case {
    background-color: white;
    border: black 1px solid;
}

#questNbr, #quest, #answer {
    width: 80%;
    min-height: 10vh;
    margin: 1vh auto;
}

#start {
    width: 5vw;
    margin: 2vh auto;
    background: darkcyan;
}

#answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case {
    margin: 2vw 0;
    width: 45%;
    height: 5vh;
}

@media screen and (max-width: 800px) {
    #quizz {
        font-size: 3vw;
    }
    #gameBoard {
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    #quizz {
        font-size: 4vw;
    }
    #gameBoard {
        font-size: 3vw;
    }
}