* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container {
    padding: 2vh;
}

#display, #quizz {
    width: 80%;
    margin: auto;
}

#quizz, #gameBoard {
    border: black 1px solid;
    background-color: cadetblue;
    font-size: 2vw;
    text-align: center;

}

#gameBoard {
    margin: 1vh auto;
}

#questNbr, #quest, .case {
    background-color: white;
    border: black 1px solid;
}

#questNbr, #quest, #answer {
    width: 80%;
    /*  this time   */
    min-height: 5vh;
    margin: 1vh auto;
}

#start {
    width: 5vw;
    margin: 2vh auto;
}

#answer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.case {
    margin: 2vw 0;
    width: 45%;
    height: 5vh;
}

/*@media screen and (max-width: px) {*/
/* */
/*}*/

